
@{
    ViewBag.Title = "CreateExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateExcel</h2>

@{Html.BeginForm("CreateExcel", "User", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}